@import "./variables.scss";

.categories {
    padding: 20px 0;

    &__item {
        button {
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 28px;
            color: $black;
            text-decoration: none;

            &.active {
                background: $light-black;
                border-radius: 25px;
                padding: 10px 30px 10px 30px;
                color: $white;
            }
        }
    }
}
