@import "./variables.scss";

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);

    .close-btn {
        position: absolute;
        top: 2%;
        right: 6%;
        font-size: 2.5rem;
        z-index: 1;
        color: #fff;
        cursor: pointer;
    }
}
