@import "./variables.scss";

.pagination {
    padding: 20px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: $white;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $orange;
        cursor: pointer;
        transition: $duration linear;

        &:hover {
            background: $light-black;
        }
    }

    &__span {
        margin: 0 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: $black;
    }
}
