@import "./variables.scss";

.payment {
    &__inner {
        padding: 45px 0 60px;
    }

    &__title {
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: $black;
    }

    &__item {
        margin: 10px 0;

        h2 {
            font-size: 22px;
            margin: 5px 0;
            color: $black;
            font-weight: 400;
        }

        ul {
            li {
                line-height: 22px;
                margin-left: 40px;
            }
        }

        a {
            color: $orange;
        }
    }
}

@media (max-width: 1366px) {
    .payment {
    }
}

@media (max-width: 990px) {
    .payment {
        &__inner {
            padding: 50px 20px;
        }
    }
}

@media (max-width: 770px) {
}

@media (max-width: 575px) {
}

@media (max-width: 320px) {
}
