@import "./variables.scss";

table {
    margin-top: 15px;
    width: 100%;
}

th {
    color: white;
    background: #1b1f24;
    padding: 10px 75px 10px 25px;
    text-align: left;
    border: 2px solid #272d31;
    border-bottom: 4px solid #272d31;
}

td {
    padding: 10px 75px 10px 25px;
    border: 1px solid #dcdde1;
}

table tr:nth-child(2n) {
    background: #ebebeb;
}
