@import "./variables.scss";

.products {
    padding: 40px 0;

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 93px;
        position: relative;
        width: 28%;
        height: 550px;
        margin-bottom: 55px;
        transition: $duration linear;

        &:hover {
            transform: translate3d(0, -10px, 0);
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__img {
        background-color: #e6e6e6;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 400px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        span {
            margin: 12px 0 5px;
            display: block;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: $light-black;
            text-decoration: none;
            transition: $duration;

            &:hover {
                color: $orange;
            }
        }
    }

    &__description {
        font-size: 14px;
        line-height: 19px;
        color: $light-black;
    }

    &__price {
        b {
            position: absolute;
            left: 0;
            bottom: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            color: $orange;
            margin-right: 18px;
        }
    }
}

@media (max-width: 1366px) {
    .products {
        padding: 20px 0;
    }
}

@media (max-width: 990px) {
    .products {
        &__inner {
            justify-content: center;
        }

        &__item {
            width: 30%;

            &:nth-child(n) {
                margin-right: 93px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(9n) {
                margin-right: 7px;
            }
        }
    }
}

@media (max-width: 770px) {
    .products {
        &__item {
            width: 39%;
        }
    }
}

@media (max-width: 575px) {
    .products {
        &__item {
            width: 51%;

            &:nth-child(n) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 320px) {
    .products {
        &__item {
            width: 89%;
        }
    }
}
