/* Variables for client-side */
$green: #1c6385;
$black: #000000;
$light-black: #282828;
$gray: #f0efed;
$white: #ffffff;
$red: #ff0000;
$light-orange: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$duration: 0.2s;

/* Variables for admin-panel */
